
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <div class="sidebar">
        <h1>Admin Dashboard</h1>
        <div class="actions">
            <a href="/admin/dashboard">Go to Dashboard</a>
            <a href="/admin/create">Create New Product</a>
            <a href="/admin/products">View All Products</a>
            <a href="/admin/create-category">Create New Category</a>
            <a href="/admin/categories">View All Categories</a>
            <a href="/admin/create-subcategory">Create New Subcategory</a>
            <a href="/admin/logout">Logout</a>
        </div>
    </div>


    <div class="dashboard-content">
        <div class="form-container">
            <h2>Create Category</h2>
            <form action="/admin/create-category" method="POST" onsubmit="return validateForm()">
                <label for="name">Category Name</label>
                <input type="text" name="name" id="name" required>
                <span id="name-error" class="error-message">Category name is required</span>
                <br>

                <button type="submit">Create Category</button>
            </form>
        </div>
    </div>

    <script>
        function validateForm() {
            const name = document.getElementById('name').value.trim();
            const nameError = document.getElementById('name-error');
            if (!name) {
                nameError.style.display = 'block';
                return false;
            } else {
                nameError.style.display = 'none';
            }
            return true;
        }
    </script>
</body>

</html>
