
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubCategories</title>
    <link rel="stylesheet" href="/css/style.css">
   
</head>

<body>
    <div class="subcategory-container">
        <h2>SubCategories</h2>

        <ul>
            <% subCategories.forEach(subCategory => { %>
                <li>
                    <div class="subcategory-info">
                        <strong><%= subCategory.name %></strong> - 
                        <% if (subCategory.parentCategory) { %>
                            <span>Parent Category: <%= subCategory.parentCategory.name %></span>
                        <% } else { %>
                            <span>No Parent Category</span>
                        <% } %>
                    </div>
                    <div class="subcategory-actions">
                        <a href="/admin/update-subcategory/<%= subCategory._id %>">Edit</a>

                        
                        <form action="/admin/subcategories/<%= subCategory._id %>/delete" method="POST" style="display: inline;">
                            <button type="submit" style="background: none; border: none; color: #0f5132; cursor: pointer;">
                                Delete
                            </button>
                        </form>
                       

                    
                    </div>
                </li>
            <% }) %>
        </ul>

        <a href="/admin/create-subcategory" class="create-btn">Create New SubCategory</a>
    </div>
</body>

</html>

